<div>
    <% if(locals.user){%>

       <p> <%= user.userName %> </p>
       <p> <%= user.email %> </p>
       <p> <%= user.dob %> </p>
       <p> <%= user.gender %> </p>
       <p> <%= user.phoneNo %> </p>

    <%}%>
</div>