
<div class="hl-main-div">

    <div class="hl-edit-div">
        <h2>Add a new habit</h2>
        <form class="hl-form" action="/habit/create" method="post">
            <input type="text" name="habitName" placeholder="habit name">
            <input type="text" name="habitDis" placeholder="habit discription">
            <button type="submit">Add</button>
        </form>
    </div>

    <!-- ********* -->

    <div class="hl-data-div">

        <% if(habits.length > 0){%>

            <ul class="hl-ul-list">
                <%for(let habit of habits){%>
                    <li class="hl-li-list">
                        <h3><%= habit.habitName %></h3>
                        <p><%= habit.habitDis %></p>

                        <div class="hl-li-div-sc">

                            <div>
                                <span>Streak: <%= habit.streak %>/7</span>
                                <span>Completed: <%= habit.completed %>/7</span>
                            </div>
    
                            <% let color = "white" %>
                            <% if(habit.days[0] =='Done'){%>
                                <% color = "green" %>
                            <% }else if(habit.days[0] =='Not Done'){ %>
                                <% color = "red" %>
                            <% } %>

                            <div>
                                <div class="dropdown">
                                    <button class="dropbtn color<%=color%>" type="button"><%= habit.days[0] %></button>
                                    <ul class="dropdown-content">
                                        <li><a href="/habit/update/<%= habit.id %>/<%=0%>/Done">Done</a></li>
                                        <li><a href="/habit/update/<%= habit.id %>/<%=0%>/Not%20Done">Not Done</a></li>
                                        <li><a href="/habit/update/<%= habit.id %>/<%=0%>/None">None</a></li>
                                    </ul>
                                </div>
                                <a href="/habit/delete/<%= habit.id %>"><button class="hl-delete-btn">Delete</button></a>
                            </div>
                            

                        </div>



                    </li>
                <%}%>
            </ul>

        <%}else{%>
            <p>No habit</p>
        <%}%>

    </div>
</div>